# Spotify API Configuration
SPOTIFY_CLIENT_ID=your-client-id
SPOTIFY_CLIENT_SECRET=your-client-secret

# Spotify API Logging
SPOTIFY_LOGGING_ENABLED=false
SPOTIFY_LOG_CHANNEL=single
SPOTIFY_LOG_LEVEL=info
SPOTIFY_LOG_REQUEST_BODY=true
SPOTIFY_LOG_RESPONSE_BODY=true
